<div id="map-home-canvas" class="map-canvas"></div>

<p id="current-coordinates">
  locating...
</p>

<%= link_to "New Report", new_report_path, class: "btn" %>

<% content_for :javascript do %>
  <script>
    $(document).on("updated-coordinates", function (event, coords) {
      var container = document.getElementById("current-coordinates");
      window.lastCoordinates = coords;
      console.log("new coordinates:", coords);
      container.innerHTML = "You're at " + coords.join(", ");
    });
  </script>

  <%= javascript_include_tag "home-map" %>
<% end %>
